*{
    margin:0;
    padding:0;
}

p{
    color: red;
    background-color: aqua;    
}
h1{
    color: blue;
    background-color: yellow;    }

    h2      
    {
        color: orange;
        background-color: black;    
    }   
    h3{
        color: pink;
        background-color: purple;
    }   